body {
  padding: 0px;
  overflow-x: hidden;
  min-width: 100vw;
  min-height: 100vh;
  max-width: unset;
  max-height: unset;
  margin: 0;
  font-family: sans-serif;
  color: white;
  background: #111;
}

#maincontainer {
  padding: 1rem 2rem;
}

#maincontainer > h1 {
  color: lightblue;
  line-height: 2.5rem;
}

table {
  border-collapse: collapse !important;
  display: inline-block;
  width: 0 !important;
  text-align: center;
}

th {
  font-size: 0.7rem;
}

tbody .mainrow::after {
  position: absolute;
  content: "";
  width: 481px;
  height: 40px;
  background: black;
  left: 0;
  z-index: -100;
}

$row-height: 40px;
.mainrow {
  white-space: nowrap;
  position: relative;
  height: $row-height;

  &.even {
    background: rgba(34, 34, 34, 0.8) !important;
  }

  &.odd {
    background: rgba(51, 51, 51, 0.8) !important;
  }

  &:not(.alive) {
    opacity: 0.3;
    .placementMarker {
      opacity: 0.5;
    }
    &.onMatchPoint td.place div {
      opacity: 0.4;
    }
  }

  &.onMatchPoint {
    color: white;
    font-weight: bold;
  }

  $fighting-height-space: 8px;
  $fighting-height: calc(100% - $fighting-height-space);
  $fighting-extra-width: 16px;
  &.fighting:after {
    width: calc(100% + $fighting-extra-width);
    top: 0;
    position: absolute;
    opacity: 0.7;
    margin-top: calc($fighting-height-space / 2);
    left: -$fighting-extra-width + 2px;
    height: $fighting-height;
    content: "";
    background: rgba(255, 69, 0, 0.9);
    border-radius: 4px;
    border: 2px solid orangered;
    box-sizing: border-box;
  }
}

$logo-height: 30px;
td {
  position: relative;

  &.name {
    text-align: left;
    max-width: 10rem;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
  }

  &.logo {
    padding: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  & span {
    white-space: nowrap;
  }

  &.logo {
    height: $row-height;
  }

  & img {
    height: $logo-height;
    filter: drop-shadow(0px 0px 2px #888);
  }
}

th.placementMarker {
  padding: 0 !important;
}
td.placementMarker {
  width: 10px;
  padding: 0 !important;
}

td.placementMarker span {
  width: 200px;
  top: 0;
  position: absolute;
  right: -5px;
  height: 40px;
  display: block;
  z-index: -1;
}

.onMatchPoint .place {
  & > span {
    position: absolute;
    height: 40px;
    width: 4px;
    background: gold;
    left: 0;
    top: 0;
  }

  & > div {
    height: 40px;
    width: 200px;
    position: absolute;
    background: linear-gradient(
      90deg,
      rgba(255, 215, 0, 1) 0%,
      rgba(255, 215, 0, 0.7) 50%,
      rgba(255, 215, 0, 0) 100%
    );
    left: 0;
    top: 0;
    z-index: -1;
  }
}

.player {
  display: grid;
  grid-template-columns: 10rem repeat(3, 25%);
  text-align: left;
  padding: 1rem;
}

#resetsort {
  background: rgba(0, 0, 0, 0.2);
  border: 2px solid black;
  border-radius: 4px;
  color: #888;
  position: absolute;
}

.playersStatus {
  width: 90px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  position: absolute;
  bottom: 5px;

  .status-1-ALIVE {
    height: 2px;
    background: rgba(10, 200, 0);
  }
  .status-2-DOWN {
    height: 2px;
    background: red;
  }
  .status-3-DEAD {
    height: 2px;
    background: #666;
  }
}
